<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title i18n>Dashboard</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="https://jumbotron-production-f.squarecdn.com/assets/4824549f0f0125025e13.png" alt="Photo of dashboard">
  <mat-card-content>
    <p i18n>
      Hello! This is our future dashboard component.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button i18n mat-button>LIKE</button>
    <button  i18n mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
